.tabbar {
  background: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .56rem;
  z-index: 200;
  .tabbar_list {
    display: flex;
    justify-content: space-around;
    li {
      color: #666;
      font-size: .14rem;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        .iconfont {
          margin: .0625rem .245rem .04rem;
          font-size: .2rem;
        }
        .tabbar_title {
          font-size: .13rem;
        }
      }
      .active{
        color: #d44d44;
        font-weight: bold;
      }
    }
  }
}