.detailNav{
  height: .5rem;
  width: 100%;
  position: fixed;
  top: 0 ;
  left: 0;
  z-index: 100;
}
.detailbar {
  // background: #fff;
  // position: fixed;
  // top: 0;
  // left: 0;
  position: relative;
  background: black;
  height: .5rem;
  line-height: .5rem;
  padding-top: .16rem 0 0;
  box-sizing: border-box;
  z-index: 200;
  .back {
    width: .52rem;
    height: .3rem;
    top: 50%;
    margin-top: -.15rem;
    left: .06rem;
    background: linear-gradient(#131313,#070707);
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    height: 32px;
    line-height: 1;
    position: absolute;
    top: 50%;
    padding-left: .03rem;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), inset 0 0 1px rgba(0,0,0,.5);
    span {
      padding-left: .03rem;
      line-height: .3rem;
      font-size: .12rem;
    }
  }
  .detailName {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    padding: 16px 0 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 60px;
    right: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}